body{
    font-family: 'Open Sans', sans-serif !important;
}
#content{
    background: #fafafa;
}
.portlet, .page-title-breadcrumb{
    border: none;
    border-bottom: none !important;
}
.portlet-header{
    padding: 18px 25px !important;
}



/*** Sidebar ***/
#sidebar{
    /*background: #303641 !important;/*background: linear-gradient(110deg,#272233,#5e4c84) !important;*/
    background-image: url("../images/purple.jpg") ;  
    background-size: cover !important;
}
.sidebar-header{
    background: transparent !important;
}
.sjo-logo-big {
    width: 100%;
    height: 100%;
    padding: 20px 55px;
}
.sjo-logo-small {
    padding: 10px 15px;
}
#sidebar .menu-element a i{
    margin: 0 10px 0 15px;
    font-size: 14px;
}
#sidebar .menu-element a{
    font-size: 14px;
}
#sidebar ul.components{ /*ul line border*/
    border-bottom: none !important;
}
/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header .sjo-logo-small {
    display: none;
}
#sidebar.active .sidebar-header .sjo-logo-big {
    display: none;
}
#sidebar.active .sidebar-header .sjo-logo-small {
    display: block;
}

#sidebar.active .menu-element a i{
    margin: 4px auto ;
    font-size: 11px;
}
#sidebar.active .menu-element{
    padding: 0px ;
}
#sidebar.active ul li a {
    padding: 10px 10px;
    text-align: center;
    font-size: 0.65em;
}
#sidebarCollapse i{   /*Button i toggle*/
    vertical-align: -2px;
}
#sidebarCollapse:hover, #sidebarCollapse:focus {
    background: transparent !important;
    color: #683064;
    /*border: solid #683064 1px;*/
    border-radius: 3px !important;
    box-shadow: 0px 1px 3px rgba(50,50,50,0.5);
}
#sidebar .menu-element a:hover{
    color: #606 !important;
}


#sidebar .menu-element[active] {
    background: white;
    color: #606;
}





/*** navbar ***/
.navbar-static-top{
    padding: 10px 0px;
    /*background: linear-gradient(0deg, #eee, #fff);*/
}
.navbar-btn{
    background: transparent;
    color: #272233;
}
#dropdownMenuButton{
    font-size: 15px;
    background: transparent;
    color: #333;
    border: none;
}
#dropdownMenuButton:focus{
    box-shadow: none;
}
.dropdown-menu{
    padding: 10px;
    box-sizing: border-box;
}
.dropdown i{
    margin-right: 9px;
}
.dropdown-item{
    font-size: 15px;
    padding: 7px 10px;
}
.dropdown-menu {
    left: unset;
    right: 0;
}







/* Links titles */
#titleFirstLink{
    cursor: pointer;
}
#titleDepartment{
    cursor: pointer;
    color:#505;
    /*font-size: 1.5em;*/
}

#titleEspecificacionObra{
    /*font-size: 1.5em;*/
    cursor: pointer;
    color:#505;
}


#statusProjectName{
    /*font-size: 1.4em;*/
    display: inline;
    float: right;
}





/*** Select ***/
#dependency{
    padding: 5px 10px;
    height: 35px;
    /*font-size: 15px;*/
    border-radius: 5px !important;
}
/*#dependency:focus{
    box-shadow: 0 0 8px #aaf !important;
}*/



/*** Container ***/
.page-title-breadcrumb a{
    /*font-size: 16px;*/
}
.container-fluid label{
    /*font-size: 16px;*/
}
#footer{
    display: inline-block;
    width: fit-content;
    text-align: right;
    position: initial;
    width: 100%;
}







/* Second modal, modal info detail obra */
#modalInfoObra{
    background: rgba(0, 0, 0, 0.1);
}
#modalInfoObra .modal-header{
}

#obraDetailModalBody .obraField{
    /*font-size: 2em;*/
}

#obraDetailModalBody .row{
    margin: 7px;
}

#modalInfoObra .modal-dialog{
    /*max-width: none !important;
    width: 80%;*/
}
#modalInfoObra .modal-content{
    border-radius: 8px !important;
    box-shadow: 0 15px 15px #444;
}
#obraDetailModalBody {
    padding: 26px;
}






/* Para evitar cuando la pantalla se hace chica pierda el centrado los modales */
.modal-dialog {
    margin-left: auto !important;
    margin-right: auto !important;
}

/*linear-gradient(180deg, #403, #839);*/

/* Map */
#map { 
    width: 100%;
    height: 50vh;
    box-shadow: 0px 10px 10px #999;
    margin: 0 20px;
}












/* Waiting animation */
.lds-roller {
    display: none;
    position: fixed;
    width: 64px;
    height: 64px;
    left: 0;
    right: 0;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #222;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}








/* Legend of pie chart */
#genl-legend-pie-chart{
    text-align: center;
}
#genl-legend-pie-chart #containerLegends{
    text-align: left;
    display: inline-block;
}
#genl-legend-pie-chart .legendRebanada{
    color: #000;
    /*font-size: 1.3em;*/
    font-width: 400;
}
#genl-legend-pie-chart svg{
    vertical-align: middle;
    height: 1.3em;
    width:  1.3em;
    margin-right: 5px;
}
#genl-legend-pie-chart .legendRebanada circle{
    r:  0.65em;
    cx: 0.65em;
    cy: 0.65em;
}






/*  Table  */

#obra-container-body{
    /*width: 1000px;*/
    font-size: 15px;
    padding: 18px 40px;
    color: #666;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: white !important;
}

.table thead{
        font-weight: bold;
}

.table th{
    background: white  !important;
    color: #444 !important;
    background-color: white !important;
}
.table td{
    border: none !important;
    padding: 20px;
}
.table td.obra{
    width: 450px;
}
.table tr{
    border-bottom: 1px solid #dedeee;
}
thead{
    border-bottom: 2px solid #dedeee;
}










#table-obras {
    padding: 30px 60px;
    /*font-size: 15px;*/
}
#obras-table-head {
    font-weight: bold;
    color: #444;
    padding: 20px 20px 5px 20px !important;
    border-bottom: 2px solid #dedeee !important;
}

.obranombreee, .obranumerooo, .obramunicipiooo, .obracategoriaaa{
    font-weight: bold;
    display: inline;
}

.col-md-1, .col-md-5, .col-md-3{
    background: white;
}
.valueee{
    display: inline;
}

.d-sm-inline {
    display: inline;
    margin-right: 4px;
}


/*Celualar 2*/
#table-obras .tableAll {
    padding: 20px;
    color: #666;
    /* border-bottom: 1px solid #dedeee; */
    box-shadow: 0 6px 7px #ccc;
    margin: 0 0 22px 0;
    border-radius: 5px;
    cursor: pointer;
}
.tableAll:hover{
    box-shadow: 0 8px 10px #aaa !important;
}

#table-obras {
    padding: 30px 30px !important; 
}
.col-11, .col-1{
    padding: 0px;
}
.col-1{
    display: inline-block; 
    top: 0px;
    font-weight: bold;
    font-size: 18px;
}
.col-11 .value{
    margin: 10px 0px;
}
.fff{
    line-height: 40px;
}

.d-sm-inline {
    margin-right: 0px;
}





.municipioYCategoria{
    padding: 15px 0 10px 0px;
}




/* obra detail */

#obra-container-body .container{
    font-size: 15px !important;
}
#obra-container-body .valueField{
    /*font-size: 14px !important;*/
    display: block;
    font-weight: bold;

}
#obra-container-body .titleField{
    /*font-size: 15px !important;*/
    margin-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
}

.rowi{
    margin: 20px 15px;
}
.rowi i{
    margin-right: 10px;
}
#buttons_pagination{
    text-align: center;
}
.button_pag{
    margin: 0px -1px;
    padding: 5px 12px;
    /*font-size: 1.3em;*/
    border: 1px solid #bbb;
    background: white;
    /* box-shadow: 0 5px 5px #777; */
    /* border-radius: 5px; */
    color: #555;
}
.button_pag:hover, .button_pag[active]{
    background: linear-gradient(0deg, #303, #606);
    border: solid 1px #505;
    color: #fff;
}






.icontitle{
    padding: 18px;
    font-size: 20px;
    color: white;
    background: white;
    border-radius: 60px;
    box-shadow: 0 5px 5px #777;
    color: #555;
    margin: 0 auto;
    /* left: 500px; *
    margin-left: 440px;*/
    margin-left: calc(50% - 20px);
}
hr{
    margin-top: -25px;
    margin-bottom: 4rem;
}

.container-images-obra{
    margin: 30px 0;
    text-align: center;
    width: 100%;
    /* background: linear-gradient(0deg, #ccc, #fff); */
    padding: 20px 0px;
    /* border-radius: 10px; */
    box-shadow: 0 5px 15px #aaa;
    clip-path: inset(0px 0px -5px 0px);
}/*margin: 30px; text-align: center; width: 100%; /* background: linear-gradient(0deg, #ccc, #fff); * padding: 20px 0px; border-radius: 10px; box-shadow: 0 5px 5px #aaa;*/

.imagesInfoDetail{
    margin: 4px 6px;
    border-radius: 8px;
    width: 200px;
    height: 144px;
}










@media (max-width: 480px) {
    .rowi{
        margin: 20px 0px;
    }
    #obra-container-body{
        padding: 18px 20px;
    }
}








/*********  Catalogs   *********/
.confirmDeleteButton{
    margin: 0 10px;
    opacity: 1;
    padding: 10px 20px !important;
    border-radius: 5px;
    font-weight: 100;
    float: inherit;
    font-size: inherit;
}
.cancelButtonConfirm{
    background: #fff !important;
    color: #555 !important;
    border: 1px #bbd solid !important;
}
.deleteButtonConfirm{
    background: linear-gradient(0deg, #933, #d44) !important;
    color: white !important;
}
#dialogConfirmModal{
    top: 30% !important;
}
#modalconfirm .modal-content{
    padding: 30px 0;
}
#messageconfirm{
    margin-bottom: 30px;
}
#modalconfirm p{
    color: #222;
    /*font-size: 1.4em;*/
}
#modalconfirm .fa-exclamation-triangle{
    color: #a55;
}

/*Form and edit*/
.form-control{
    /*font-size: 1.5em;*/
    padding: 8px 13px;
}
.buttonsActions{
    padding: 5px 15px;
    /*font-size: 1.5em;*/
    margin: 30px 15px;
    border: solid 1px #606;
    background: #fff;
    color: #606;
    border-radius: 5px;
    cursor: pointer;
}
.contentOfButtonsActions{
    text-align: right;
}
.contentOfButtonsActions .saveRegisterButton:hover{
    background: linear-gradient(0deg, #303, #737);
    color: #fff;
    cursor: pointer;
}
.contentOfButtonsActions .deleteRegisterButton:hover{
    background: linear-gradient(0deg, #933, #d44);
    color: #fff;
    cursor: pointer;
}
#addRegister{
    padding: 20px;
}



/** List Registers **/
#tableRegisters{
    width: 100%;
    /*font-size: 1.4em;*/
    margin-top: 20px;
}
#tableRegisters tr th{
    border-bottom: 2px solid #ddd;
    padding: 15px;
    color: #777;
}
#tableRegisters td{
    border-bottom: 1px solid #ddd;
    padding: 15px;
    color: #777;
    cursor: pointer;
}
#bodyTableProviders{
    padding: 30px;
}
#containerButtonsPagination{
    text-align: center;
    margin-top: 20px;
}
#containerButtonsPagination button{
    cursor: pointer;
}

#containerSearchButton{
    text-align: left;
    padding: 6px 15px;
    cursor: pointer;
    color: #777;
}
#containerSearchButton span {
    margin: 0 6px;
    /*font-size: 1.5em;*/
}
#containerAddButton{
    text-align: right;
}
.searchColapseFields{
    color: #555;
}
.searchFielsLabels{
    /*font-size: 1.4em !important;*/
}
#searchForm select{
    height: fit-content;
}








/** Add Provider **/
.obrasButtonNormal{
    padding: 5px 15px;
    /*font-size: 1.5em;*/
    border: solid 1px #606;
    background: #fff;
    color: #606;
    border-radius: 5px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.obrasButtonNormal:hover{
    cursor: pointer;
    background: linear-gradient(0deg, #303, #737);
    color: #fff;
}

.indicatorName{
    text-transform: capitalize;
}
.rowAddRegister{
    padding: 10px;
}
.rowAddRegister div{
     margin-bottom: 5px;
}
#addRegister select{
    height: fit-content;
}
.input-box { position: relative; }
.input-box input { padding-left: 30px; }
.unit { position: absolute; display: block; left: 15px; top: 10px; z-index: 9; font-size: 1.4em; }


/* Valid fields mesagges */
.msjNotValid{
    color: #800 !important;
    display: none;
}



/*Fechas*/
.ui-widget-header, .ui-widget-content .ui-state-default {
    background: #eee;
    color: #000;
}




/** Notify **/
.notifyjs-bootstrap-base {
    opacity: 0.85 !important;
    padding: 25px 30px !important;
    /*font-size: 1.4em !important;*/
    background: linear-gradient(0deg, #636, #a6a) !important;
    opacity: 1 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

div.ui-datepicker{
 /*font-size:1.4em;*/
}



#menuComponentGraphics{
    display: none;
}
